{% assign top_news = site.data.news | sort: "date" | reverse | slice: 0, 3 %}
{% assign news_by_year = top_news | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row mt-4">
    <div class="col">
        <div class="card border-0 shadow-sm">
            <div class="card-body">
                <h4 class="mb-3">News and Updates</h4>
                <hr/>
                
                {% for year in news_by_year %}
                <div class="d-flex align-items-center mb-2">
                    <h5 class="mb-0 mr-3">{{ year.name }}</h5>
                </div>
                {% for item in year.items %}
                <div class="d-flex mb-3 pb-2 border-bottom">
                    <div class="news-title">
                        <a href="news#year-{{ item.date | date: '%Y' }}" class="text-decoration-none">
                            <div>{{ item.title }}</div>
                        </a>
                    </div>
                    <div class="ml-auto news-date"><em>{{ item.date | date: "%b %d, %Y" }}</em></div>
                </div>
                {% endfor %}
                {% endfor %}
                
                <div class="text-center mt-4">
                    <a href="{{ 'news' | relative_url }}" class="btn btn-sm btn-outline-primary">All News <i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
