<div class="row">
    <div class="col">
        <div class="card profile-card border-0 shadow-sm bg-white">
            <div class="card-body p-5">
                <div class="row">
                    {% if site.data.profile.portrait_url %}
                    <div class="col-12 col-md-auto text-center mb-4 mb-md-0 order-md-2">
                        <figure class="figure">
                            <img 
                                src="{{ site.data.profile.portrait_url | relative_url }}" 
                                class="figure-img img-fluid img-thumbnail" 
                                style="max-height: 200px; max-width: 100%;"
                                data-toggle="tooltip" 
                                data-placement="top" 
                                title="{{ site.data.profile.portrait_caption }}"
                            >
                        </figure>
                    </div>
                    {% endif %}
                    <div class="col order-md-1">
                        <p class="h1 font-weight-normal">{{ site.data.profile.primary_name }} <small>{{ site.data.profile.secondary_name }}</small></p>
                        <p class="text-profile-position">
                            {% assign first_position = site.data.profile.positions | first %}
                            {% if first_position.logo -%}
                            <img src="{{ first_position.logo | relative_url }}" alt="Logo" class="inline-badge"/>
                            {%- endif %}
                            {{ first_position.name }}<br/>
                        </p>
                        <!-- show list from summary -->
                        <ul class="list-unstyled" style="font-size: 16px;">
                            {% for item in site.data.profile.summary %}
                            <li><i class="fa-regular fa-clone fa-flip-vertical"></i>&ensp;{{ item }}</li>
                            {% endfor %}
                        </ul>
                        <br/>
                        <div class="row">
                            <div class="col text-left d-flex align-items-center">
                                <a class="pr-2 no-break d-flex align-items-center" href="mailto:{{ site.data.profile.email | encode_email }}" data-toggle="tooltip" title="Personal Email">
                                    <img src="/assets/images/icons/gmail.png" alt="Personal Email" style="width: 28px; height: 28px;"/>
                                </a>
                                {% if site.data.profile.work_email %}
                                <a class="pr-2 no-break d-flex align-items-center" href="mailto:{{ site.data.profile.work_email | encode_email }}" data-toggle="tooltip" title="Work Email">
                                    <i class="fas fa-envelope fa-lg" style="color: #cc3333; font-size: 28px;"></i>
                                </a>
                                {% endif %}
                                <span class="mx-2" style="font-size: 22px; color: #e0e0e0;">|</span>
                                {% if site.data.profile.phone %}
                                <a class="pr-2 no-break d-flex align-items-center" href="tel:{{ site.data.profile.phone }}">
                                    <i class="fas fa-phone fa-lg" style="color: #28a745; font-size: 28px;"></i>
                                </a>
                                {% endif %}
                                
                                {% if site.data.profile.github %}
                                <a class="pr-3 no-break" target="_blank" href="https://github.com/{{ site.data.profile.github }}">
                                    <i class="fab fa-github fa-2x" style="color: #1c1c1c;"></i>
                                </a>
                                {% endif %}
        
                                {% if site.data.profile.facebook %}
                                <a class="pr-3 no-break" target="_blank" href="https://facebook.com/{{ site.data.profile.facebook }}">
                                    <i class="fab fa-facebook fa-2x" style="color: #1877f3;"></i>
                                </a>
                                {% endif %}
        
                                {% if site.data.profile.twitter %}
                                <a class="pr-3 no-break" target="_blank" href="https://twitter.com/{{ site.data.profile.twitter }}">
                                    <i class="fab fa-x-twitter fa-2x" style="color: #1da1f2;"></i>
                                </a>
                                {% endif %}
        
                                {% if site.data.profile.linkedin %}
                                <a class="pr-3 no-break" target="_blank" href="https://www.linkedin.com/in/{{ site.data.profile.linkedin }}">
                                    <i class="fab fa-linkedin fa-2x" style="color: #0077B5;"></i>
                                </a>
                                {% endif %}
                                
                                <!-- Simple direct link for booking appointment -->
                                <a href="https://calendar.google.com/calendar/appointments/schedules/AcZssZ305Mj86OClwYTQjOE86Xp1LXkt1uYhGxI2YeQi7A-am9kKAbc9CXfitygxTrkmS5ZfG8ee3KZv?gv=true" 
                                   target="_blank" 
                                   class="btn btn-info btn-sm ml-2" 
                                   style="background-color: #039BE5; color: white; border: none; border-radius: 4px; padding: 5px 12px; font-size: 14px;">
                                    <i class="fas fa-calendar-alt mr-1"></i> Book appointment
                                </a>
                                
                                <!-- Hidden Google Calendar button to prevent loading issues -->
                                <span style="display: none;">
                                  <!-- Google Calendar Appointment Scheduling -->
                                  <link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
                                  <script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>
                                  <script>
                                  (function() {
                                    var target = document.currentScript;
                                    window.addEventListener('load', function() {
                                      calendar.schedulingButton.load({
                                        url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ305Mj86OClwYTQjOE86Xp1LXkt1uYhGxI2YeQi7A-am9kKAbc9CXfitygxTrkmS5ZfG8ee3KZv?gv=true',
                                        color: '#039BE5',
                                        label: 'Book an appointment',
                                        target,
                                        customClass: 'appointment-button'
                                      });
                                    });
                                  })();
                                  </script>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% if site.data.profile.short_bio %}
                <hr />
                <div class="row">
                    <h4>About Me</h4>
                    <p>{{ site.data.profile.short_bio }}</p>
                </div>
                {% endif %}
            </div>
        </div>        
    </div>
</div>

{% if site.data.profile.wechat_qrcode %}
<div class="modal fade" id="modal-wechat" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-0">
                <img src="{{ site.data.profile.wechat_qrcode | relative_url }}" class="img-fluid">
            </div>
            {% if site.data.profile.wechat_prompt %}
            <div class="modal-body p-1">
                {{ site.data.profile.wechat_prompt }}
            </div>
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
