<div class="row">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col">
                        <p class="h1 font-weight-normal">{{ site.data.profile.primary_name }} <small>{{ site.data.profile.secondary_name }}</small></p>
                        <p class="text-profile-position">
                            {% for position in site.data.profile.positions %}
                            {% if position.logo -%}
                            <img src="{{ position.logo | relative_url }}" alt="Logo" class="inline-badge"/>
                            {%- endif %}
                            {{ position.name }}<br/>
                            {% endfor %}
                        </p>
                        <!-- show list from summary -->
                        <ul class="list-unstyled" style="font-size: 16px;">
                            {% for item in site.data.profile.summary %}
                            <li><i class="fa-regular fa-clone fa-flip-vertical"></i>&ensp;{{ item }}</li>
                            {% endfor %}
                        </ul>
                        <br/>
                        <div class="row">
                            <div class="col text-left">
                                <a class="pr-3 no-break" href="mailto:{{ site.data.profile.email | encode_email }}">
                                     <img src="/assets/images/icons/gmail.png" alt="Email" class="inline-badge" style="margin-top:2px; width: 30px; height: 30px;"/>
                                </a>

                                {% if site.data.profile.phone %}
                                <a class="pr-3 no-break" href="tel:{{ site.data.profile.phone }}">
                                    <i class="fas fa-phone fa-2x" style="color: #28a745;"></i>
                                </a>
                                {% endif %}
                                
                                {% if site.data.profile.github %}
                                <a class="pr-3 no-break" target="_blank" href="https://github.com/{{ site.data.profile.github }}">
                                    <i class="fab fa-github fa-2x" style="color: #1c1c1c;"></i>
                                </a>
                                {% endif %}
        
                                {% if site.data.profile.twitter %}
                                <a class="pr-3 no-break" target="_blank" href="https://twitter.com/{{ site.data.profile.twitter }}">
                                    <i class="fab fa-twitter fa-2x" style="color: #1da1f2;"></i>
                                </a>
                                {% endif %}
        
                                {% if site.data.profile.linkedin %}
                                <a class="pr-3 no-break" target="_blank" href="https://www.linkedin.com/in/{{ site.data.profile.linkedin }}">
                                    <i class="fab fa-linkedin fa-2x" style="color: #0077B5;"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if site.data.profile.portrait_url %}
                    <div class="col-md-auto d-none d-md-block">
                        <figure class="figure">
                            <img 
                                src="{{ site.data.profile.portrait_url | relative_url }}" 
                                class="figure-img img-fluid img-thumbnail" 
                                style="height: 200px;"
                                data-toggle="tooltip" 
                                data-placement="top" 
                                title="{{ site.data.profile.portrait_caption }}"
                            >
                            <figcaption class="figure-caption text-right"></figcaption>
                        </figure>
                    </div>
                    {% endif %}
        
                </div>
                {% if site.data.profile.short_bio %}
                <hr />
                <div class="row">
                    <h4>About Me</h4>
                    <p>{{ site.data.profile.short_bio }}</p>
                </div>
                {% endif %}
            </div>
        </div>        
    </div>
</div>

{% if site.data.profile.wechat_qrcode %}
<div class="modal fade" id="modal-wechat" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-0">
                <img src="{{ site.data.profile.wechat_qrcode | relative_url }}" class="img-fluid">
            </div>
            {% if site.data.profile.wechat_prompt %}
            <div class="modal-body p-1">
                {{ site.data.profile.wechat_prompt }}
            </div>
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
